*.png
*.pptx
*.lnk
*.zip
/documents\ de\ test/
GECO1/exemple\ de\ lot\ de\ contrats\ numérisés\ avec\ séparateurs/
GECO1/Séparateur\ de\ plis.jpg
GECO1/libellés.txt
GECO1/*.pdf
GECO1/documentIdList.txt
GECO2/**/*.pdf